// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #000000;
  background-image:url('henlopen.jpg');
  text-align: center;
  font-family:"Times New Roman", Times, serif;
}

table {
  font-size: 600%;
  margin: 0px auto;
}

td {
  border: 2px solid;
  text-align: center;
  width: 130px;
  height: 130px;
  background: rgba(250, 250, 250, 0.3);
}

h1 {
  font-size: 350%;
  margin: 0px;
}

h3 {
  margin: 0px;
}

a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  color: #000000;

  &:hover {
    background-color: #000;
  }
}

input {
  font-size: 200%;
  font-family:"Times New Roman", Times, serif;
}

li{
  padding-bottom: 20px;
}

ul{
  list-style-type: none;
}
